.body {
  margin: 0;
  padding: 0;
}
.cntr {
  text-align: center;
}
.box {
  font-size: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: justify;
  color: #c5c6c7;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  padding: 2rem;
}
.title {
  margin-top: 2rem;
  color: #c5c6c7;
  font-family: "Century Gothic", sans-serif;
}
.p {
  font-size: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-align: justify;
  color: rgba(168, 174, 179, 0.856);
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}

.text{
  color: rgba(168, 174, 179, 0.856);
  text-align: center;
  margin: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.li{
  font-size: x-large;
}
